;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl           "0.26.0"]
  [rum/rum "0.12.3"]]

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn core/init}}
        :devtools
        {:before-load  core/stop
         :after-load   core/start
         :http-root    "public"
         :http-port    3001
         :watch-path   "static"
         :preloads     [shadow.remote.runtime.cljs.browser]}
        }}}
